main {
    text-align: center;
}

body {
    background-color: rgb(204, 68, 68);
}

h1 {
    color: white;
}

.deadline {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.deadline-format {
    padding: 1rem;
    background-color: black;
    color: white;
    height: 2rem;
    width: 3rem;
    margin-right: 2rem;
}

h4 {
    margin: 5px;
}