body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-between;
}

main button {
  margin: 0;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: aqua;
  padding: 12px;
  cursor: pointer;
}

.icon i {
  transition: 0.3s ease-in-out;
}

.sidebar {
  background-color: aliceblue;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  transform: translate(0%);
  transition: 0.3s ease-in-out;
}

.sidebar img {
  padding-top: 14px;
  margin-left: 12px;
}

.sidebar ul {
  list-style: none;
  font-size: 1.3rem;
}

.sidebar ul li {
  padding: 12px;
}

.icons ul {
  display: flex;
  color: blueviolet;
  justify-content: space-between;
  cursor: pointer;
}

.img {
  display: flex;
}

.menu li:hover {
  color: blueviolet;
  background-color: aqua;
}

.icon i:hover {
  transform: rotate(180deg);
  color: black;
}

.showside {
  transform: translate(-100%);
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.icons i {
  transition: 0.2s ease-in-out;
}

.icons i:hover {
  color: aqua;
  transform: scale(1.3);
}