body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
    align-items: center;
    margin: 12rem auto;
    width: 32vw;
    height: 10rem;
    background-color: aliceblue;
    border-radius: 22px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav span {
    border: 2px solid goldenrod;
    border-radius: 9px;
    width: 5rem;
    height: 1rem;
    color: brown;
    margin-top: 1.8rem;
}

.btn {
    position: absolute;
    right: 45%;
    padding: 12px 23px;
    border: none;
    background-color: blueviolet;
    color: aqua;
    margin-top: 2rem;
    cursor: pointer;
    overflow: hidden;
}

.btn span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, aqua, black);
    animation: swipe1 2s linear infinite;
}

.btn span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, aqua, black);
    animation: swipe2 2s linear infinite;
    transition-delay: 1s;
}

.btn span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, aqua, black);
    animation: swipe3 2s linear infinite;
}

.btn span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, aqua, black);
    animation: swipe4 2s linear infinite;
    transition-delay: 1s;
}

@keyframes swipe1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes swipe2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes swipe3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes swipe4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}