body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 3px;
  text-transform: capitalize;
  background-color: aliceblue;
}
.container {
  width: 100%;
  text-align: center;
  margin: 165px 20px;
}
h1 {
  font-size: 3.5rem;
}
button {
  padding: 7px 22px;
  font-size: 19px;
  background: transparent;
  border-radius: 13px;
  margin: 28px;
  cursor: pointer;
}
#value {
  font-size: 5rem;
}
