body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: serif;
    background-color: aliceblue;
}

.center {
    text-align: center;
    margin: 10rem auto;
}

.container {
    background-color: white;
    width: 30rem;
    border-radius: 10px;
    margin: 12px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form {
    padding-top: 3rem;
}

.section {
    display: flex;
    justify-content: center;
}

.section input {
    width: 20rem;
    border: none;
    background-color: aliceblue;
    font-size: 1rem;
    height: 28px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

::placeholder {
    padding-left: 18px;
}

.section button {
    border: none;
    background-color: aqua;
    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s ease-in-out;
    padding: 7px 22px;
    cursor: pointer;
}

.section button:hover {
    background-color: rgb(85, 170, 227);
    color: white;
}

h2 {
    font-size: 1.8rem;
}

.grocery-container {
    visibility: hidden;
}

.show-container {
    visibility: visible;
}

.grocery-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    transition: .2s ease-in-out;
    border-radius: 8px;
    margin: 1rem;
    height: 0px;
}

.grocery-item:hover {
    background-color: aliceblue;
}

.grocery-item button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
}

.edit-btn {
    color: chocolate;
}

.delete-btn {
    color: olive;
}

.clear-btn {
    transform: translateY(5rem);
    border: none;
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 1rem;
    color: orangered;
    cursor: pointer;
}