body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.container {
  text-align: center;
}
.title h2 {
  font-size: 2.5rem;
  margin-top: 12px;
}
.title .underline {
  height: 0.25rem;
  width: 5rem;
  background: rgb(3, 174, 247);
  margin-left: auto;
  margin-right: auto;
}
.article {
  text-align: center;
  margin-top: 20px;
  background-color: white;
  margin: 8vh 25vw;
}
#person_img {
  margin-top: 23px;
}
#name {
  margin-bottom: 0px;
}
#job {
  color: rgb(17, 168, 219);
}
#info {
  color: rgb(156, 118, 152);
  text-align: center;
  line-height: 20px;
}
#prv,
#next {
  background-color: transparent;
  border: none;
  color: rgb(17, 168, 219);
  cursor: pointer;
  padding-left: 7px;
}
#random {
  background-color: transparent;
  border: 2px solid rgb(17, 168, 219);
  border-radius: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: rgb(17, 168, 219);
  padding: 6px;
  cursor: pointer;
}
#random:hover {
  color: black;
  background-color: rgb(17, 168, 219);
  transition: 0.5s ease-in-out;
}
