* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

.nav1 {
    background-color: black;
    color: gray;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height: 2.4rem;
}

.nav1 ul {
    list-style: none;
}

.list-1 {
    display: flex;
    margin-left: 7rem;
}

.list-1 i {
    padding: 12px;
    cursor: pointer;
}

.list-2 {
    display: flex;
    margin-right: 7rem;
}

.list-2 li {
    padding: 12px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#country,
#language {
    background-color: transparent;
    color: white;
}

.nav2 {
    display: flex;
    justify-content: space-between;
}

.logo h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    margin: 1rem 7rem;
}

.logo h1 span {
    text-transform: capitalize;
    font-size: 1rem;
    color: gray;
}

.content {
    display: flex;
    margin: 1rem 10rem;
}

.content p {
    font-size: 14px;
    text-align: center;
}

.box1 {
    padding: 0px 15px;
}

.box2 {
    padding: 0px 15px;
}

.box3 {
    padding: 4px 15px;
}

.box3 button {
    border: 2px solid aqua;
    padding: 8px 12px;
    font-size: 10px;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.nav3 ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: goldenrod;
    color: white;
}

.nav3 ul li {
    padding: 12px 23px;
    border-right: 1px solid white;
    cursor: pointer;
}

.nav3 input {
    background-color: transparent;
    border: none;
    color: white;
}

::placeholder {
    color: white;
}

.nav3 .spacial {
    border: none;
}

.mid {
    background-image: url(/Projects/10/pexels-aron-visuals-1743165.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    text-align: center;
    padding-top: 8rem;
    color: white;
}

.mid::after {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.text h1 {
    font-size: 2.7rem;
}

.text p {
    font-size: 1.2rem;
}

.buttons {
    margin-top: 2rem;
}

.btn-1 {
    color: white;
    background-color: rgb(245, 186, 35);
    padding: 8px 23px;
    border: none;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-2 {
    color: rgb(19, 19, 19);
    background-color: white;
    padding: 8px 23px;
    border: none;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.three {
    display: flex;
    align-items: center;
    margin-left: 10rem;
    transform: translateY(-3rem);
}

.item1,
.item2,
.item3 {
    width: 20rem;
    height: 10rem;
    display: flex;
    color: white;
    padding: 3rem 1rem;
}

.item1 {
    background-color: rgb(168, 252, 0);
}

.item2 {
    background-color: skyblue;
}

.item3 {
    background-color: rgb(168, 252, 0);
}

.three i {
    font-size: 3rem;
    padding: 15px;
}

.student {
    display: flex;
    justify-content: center;
}

.student img {
    width: 300px;
    height: 200px;
    border-radius: 12px;
}

.detail {
    width: 35%;
    padding-left: 2rem;
    line-height: 22px;
}

.detail p {
    color: palevioletred;
    font-size: 12px;
}

.detail h6 {
    font-weight: 400;
}

.detail button {
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    transition: .2s ease-in-out;
}

i {
    transition: .3s ease-in-out;
}

i:hover {
    color: aqua;
}

.list-2 li:hover {
    color: aqua;
    border-bottom: 1px solid white;
}

.btn-1:hover {
    color: rgb(245, 186, 35);
    background-color: white;
}

.btn-2:hover {
    background-color: rgb(19, 19, 19);
    color: white;
}

.detail button:hover {
    color: aqua;
    border-bottom: 1px sold aqua;
}