body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    background-color: aliceblue;
}

main {
    text-align: center;
    margin: 12rem auto;
    width: 30vw;
    height: 30vh;
    border-radius: 23px;
    background-color: white;
}

.container {
    display: flex;
    color: brown;
    justify-content: space-evenly;
}

.number {
    border: 2px solid brown;
    border-radius: 9px;
    height: 1rem;
    width: 3rem;
    margin-top: 2rem;
}

button {
    border: none;
    padding: 12px 22px;
    background-color: red;
    color: white;
    border-radius: 9px;
    margin: 2px 12px;
    font-size: 15px;
    cursor: pointer;
}