body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.menu {
  text-align: center;
}
.menu h1 {
  margin-top: 5rem;
  margin-bottom: 7px;
  font-size: 2rem;
}
.underline {
  width: 3rem;
  height: 5px;
  background-color: goldenrod;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.btn-container button:hover {
  background-color: transparent;
  border: 2px solid goldenrod;
  color: goldenrod;
}
.btn-container button {
  background-color: goldenrod;
  color: white;
  border: 2px solid white;
  border-radius: 9px;
  padding: 5px 23px;
  cursor: pointer;
  margin-bottom: 3rem;
  transition: 0.3s ease-in-out;
}

.section-center img {
  height: 150px;
  border: 4px solid goldenrod;
  border-radius: 12px;
}
.menu-item {
  display: grid;
  width: 35rem;
  grid-template-columns: 275px 1fr;
  height: 200px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  border-bottom: 1px dotted rgb(142, 188, 195);
  font-size: 1.1rem;
}
.header h4 {
  margin: 0;
}
.item-info p {
  margin-top: 2rem;
  text-align: justify;
  font-size: 1rem;
  color: cadetblue;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 2rem 2rem;
  justify-items: center;
  align-items: stretch;
  align-content: stretch;
}
