body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {
    list-style: none;
}

.nav-1 {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.list-1 {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    width: 15rem;
}

.list-1 li {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: white;
    font-size: 15px;
}

.list-2 {
    display: flex;
    margin: 0;
    padding: 0;
}

.list-2 li {
    padding: 10px 17px;
    font-size: 12px;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
}

.list li:nth-child(1),
.list li:nth-child(2) {
    color: palevioletred;
    padding: 10px 10px;
}

.list li:nth-child(3) {
    padding: 10px 10px;
    color: rgb(249, 136, 174);
}

.list li:nth-child(4) {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    background-color: aliceblue;
    border-radius: 23px;
    margin-top: 5px;
}

.list li:nth-child(4) input {
    border: none;
    width: 60rem;
    background-color: transparent;
}

.list li:nth-child(5),
.list li:nth-child(6) {
    padding: 10px 13px;
}

.list li:nth-child(7) {
    padding: 10px 13px;
}

.center {
    background-image: url(/Projects/17/pexels-kaique-rocha-57645.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 88vh;
    width: 100%;
    text-align: center;
}

.center h1 {
    padding-top: 10rem;
    color: rgb(226, 209, 209);
    font-size: 7rem;
    margin: 0;
}

.intro input {
    background-color: white;
    width: 15rem;
    border: none;
}

.intro {
    display: flex;
    justify-content: space-between;
    width: 27rem;
    padding: 6px 10px;
    background-color: aliceblue;
    border-radius: 23px;
    margin: 2rem 25rem;
    height: 1rem;
}